<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Symbol</th>
      <th>CurrentPrice</th>
      <% if @user.id == current_user.id %>
      <th>Action</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @user_stocks.each do |user_stocks| %>
    <tr>
      <td><%=user_stocks.name %></td>
      <td><%=user_stocks.ticker %></td>
      <td><%=user_stocks.price %></td>
      <% if @user.id == current_user.id %>
      <td><%= link_to 'delete', user_stock_path(user_stocks), :method => :delete,
                                                                :data => { :confirm => "are u sure?"},
                                                                :class => "btn btn-xs btn-danger" %>
      </td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
